<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers" xmlns:xo="http://typo3.org/ns/Ps/Xo/ViewHelpers" data-namespace-typo3-fluid="true">
<f:section name="Main">
	<f:variable name="heroBackground">
		.hero-{identifier -> xo:format.trim()} {
			background-image: url('{f:uri.image(image: media, cropVariant: "mobile", maxWidth: 900)}');
		}

		@media (min-width: 768px) {
			.hero-{identifier -> xo:format.trim()} {
				background-image: url('{f:uri.image(image: media, cropVariant: "desktop", maxWidth: 1800)}');
			}
		}
	</f:variable>

	<xo:css.inlineCode name="hero-{identifier -> xo:format.trim()}" code="{heroBackground}" />
</f:section>
</html>