<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers" xmlns:xo="http://typo3.org/ns/Ps/Xo/ViewHelpers" data-namespace-typo3-fluid="true">
	<f:layout name="Default" />
	<f:section name="Main">
		<f:spaceless>
			<div class="hero {f:if(condition: '{xo:media.isImage(file: media)}', then: 'hero--image')}{f:if(condition: '{xo:media.isVideo(file: media)}', then: 'hero--video hero--video-played')}">
				<f:render partial="Hero/Content" section="Main" arguments="{_all}" />

				<f:if condition="{media} && {xo:media.isImage(file: media)}">
					<f:render partial="Hero/Media" section="{settings.image.renderMode -> xo:format.ucFirst()}" arguments="{media: media, settings: settings.image}" />
				</f:if>

				<f:if condition="{media} && {xo:media.isVideo(file: media)}">
					<f:render partial="Hero/Media" section="Video" arguments="{media: media, settings: settings, identifier: identifier}" />
				</f:if>
			</div>
		</f:spaceless>
	</f:section>
</html>