// ---------------------------------------------------------------------------------------------------------------------
// Bootstrap & XNA
@import '../../../../xna/Resources/Public/Sass/functions';
@import '../../../../xna/Resources/Public/Sass/variables';
@import '../../../../xna/Resources/Public/Sass/mixins';
@import '../../../../xna/Resources/Public/Sass/definitions';

// ---------------------------------------------------------------------------------------------------------------------
// Variablen
$ce-hero--use-css: true !default;
$ce-hero--layout-default: true !default;
$ce-hero--layout-slider: true !default;
$ce-hero--layout-container: true !default;

// ---------------------------------------------------------------------------------------------------------------------
// Definitions
%hero--title {
	& {
		margin: rem(35px) 0 0 0;
	}

	&, h1, h2, h3, h4, h5, h6 {
		font-size: rem(34px);
		font-weight: $headings-font-weight;
	}

	h1, h2, h3, h4, h5, h6 {
		margin: 0;
	}
}

%hero {
	& {
		min-height: rem(500px);
		padding-top: 0.1px;
		padding-bottom: 0.1px;
		background-position: center center;
		background-size: cover;
		position: relative;
		z-index: 5;
	}

	.container-inner {
		margin-top: rem(35px);
	}
}

// ---------------------------------------------------------------------------------------------------------------------
// CSS
@if($ce-hero--use-css) {

	.ce-hero {
		& {
			@extend %hero;
		}

		.hero--title {
			@extend %hero--title;
		}

		.hero--background {
			position: absolute;
			top: -1px; bottom: -1px;
			left: 0;
			width: 100%;
			z-index: -1;
			background-position: center center;
			background-size: cover;
		}
	}

	@if($ce-hero--layout-slider) {
		// Abgleich mit Slider Definitions
		.ce-hero-slider {
			& {
				position: relative;
				height: rem(400px);
				overflow: hidden; // 1
			}

			.slider--item + .slider--item {
				visibility: hidden; // 1
			}

			.slider--controls {
				& {
					position: absolute;
					top: 0;
					width: 100%;
					display: none; // erst auf hoehren Breakpoints anzeigen -> dann steht rechts / links mehr Platz zur Verfuegung
				}

				.container-inner {
					position: relative;
				}
			}

			.slider--prev, .slider--next {
				& {
					position: absolute;
					z-index: 10;
					display: flex;
					align-items: center;
					min-height: rem(400px);
				}

				button {
					& {
						width: $spacing-medium;
						height: 100px;
					}

					&:hover {
						svg {
							fill: $link-color-hover;
						}
					}
				}

				svg {
					width: 35px;
					fill: $theme-color-primary;
					transition: fill 0.35s;
				}
			}

			// Padding von .container-outer wieder aufheben
			.slider--prev {
				left: -$spacing-medium;
			}

			.slider--next {
				right: -$spacing-medium;
			}

			.slider--navigation {
				position: absolute;
				bottom: rem(35px);
				width: 100%;
			}

			.slider--initialized {
				.slider--item + .slider--item {
					visibility: visible;
				}
			}

			@include media-breakpoint-up(md) {
				&, .slider--prev, .slider--next, .hero {
					height: rem(500px);
				}
			}

			@include media-breakpoint-up(lg) {
				&, .slider--prev, .slider--next, .hero {
					height: rem(600px);
				}
			}

			@include media-breakpoint-up(xl) {
				.slider--controls {
					display: block;
				}

				.slider--prev, .slider--next {
					button {
						width: rem(50px);
						height: 100px;
					}
				}

				// Padding von .container-outer wieder aufheben
				.slider--prev {
					left: rem(-50px);
				}

				.slider--next {
					right: rem(-50px);
				}
			}
		}
	}
	@if($ce-hero--layout-container) {

	}
}

// ---------------------------------------------------------------------------------------------------------------------
// XNA Override
@import '../../../../xna/Resources/Public/Sass/xna/modules/hero';