<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers" xmlns:xo="http://typo3.org/ns/Ps/Xo/ViewHelpers" data-namespace-typo3-fluid="true">
	<f:layout name="Default" />
	<f:section name="Header" />
	<f:section name="Main">
		<f:spaceless>
			<f:render partial="Hero/Item" section="Main" arguments="{
				identifier: data.identifier,
				header: data.header,
				headerLayout: data.header_layout,
				text: data.bodytext,
				media: image.0,
				settings: settings.modules.ce_hero
			}" />
		</f:spaceless>
	</f:section>
</html>