<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers" xmlns:xo="http://typo3.org/ns/Ps/Xo/ViewHelpers" data-namespace-typo3-fluid="true">
	<f:layout name="Default" />
	<f:section name="Header" />
	<f:section name="Main">
		<f:spaceless>
			<f:render partial="Content" section="Main" arguments="{header: data.header, headerLayout: data.header_layout, text: data.bodytext}" />

			<f:if condition="{image.0}">
				<f:render partial="Media" section="Main" arguments="{media: image.0, identifier: data.identifier}" />
			</f:if>
		</f:spaceless>
	</f:section>
</html>